@model ClosetInventory.Models.Cover

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cover</h4>
    <hr />
    <img src="@Model.LargeFile" style="max-width: 300px; float: right;">  
    <dl class="dl-horizontal">
       
       

        <dt>
            @Html.DisplayNameFor(model => model.DressinessRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DressinessRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarmthRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarmthRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColorType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColorType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
</p>
