@model ClosetInventory.Models.TotalViewModel
@{
    ViewBag.Title = "HomeShirts";
}

<h2>HomeShirts</h2>
@Html.Partial("_PartialUserHomePage", Model)
@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>Outfit</h4>
        <hr />

        <div class="form-group">
            @Html.HiddenFor(model => Model.Outfit)
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Wear Outfit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@foreach (var item in Model.Shirts)
{
    <table>
        <tr>
            <td>
                <img src="@item.SmallFile" id="shirtImage" onclick="MoveShirtToOutfit(item.SmallFile)" />

            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Shirts", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Shirts", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "Shirts", new { id = item.Id }, null)
            </td>
        </tr>
    </table>
}
<form action="" method="post" id="postTo">
    @Html.HiddenFor(model => model.Outfit.Id)
    @Html.HiddenFor(model => model.Outfit.UserId)

    <div id="itemType"></div>
</form>
<script type="text/javascript">
    function MoveDressToOutfit(smallFile) {

        $('#outfitPants')
            .replaceWith('<div id="outfitPants"><img id="dress" src="#" /></div>'
            .replace("#", smallFile));

        $('#outfitShirt')
            .replaceWith('');
    }



    function RenderPage(item) {
        var path = "Home" + item;
        $('#postTo').attr("action", path);
        $('#postTo').submit();

    }
    function WearOutfit() {
        var path = "~/Outfits/Create";
        $('#postTo').attr("action", path)
    }


</script>