@model ClosetInventory.Models.TotalViewModel
@{
    ViewBag.Title = "HomeShirts";
}
<center>

    <h1 class="closet">Your Closet</h1>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("_PartialUserHomePage", Model)
        </div>
        <div class="col-sm-6">

            @Html.Partial("_PartialButtonsList", Model)
            <h2>Your Shirts</h2>
            <div class="container gallery">

                @foreach (var item in Model.Shirts)
            {
                    <div class="col-sm-2" style="margin-left: 50px; margin-right:50px; margin-top: 5px; padding: 10px;">
                        <div class="boxgroup">
                            <div class="img">
                              
                                    <a href="~/Shirts/Details/@item.Id">
                                        <img src="@item.LargeFile" id="shirtsImage" />
                                    </a>
                               
                            </div>

                            @*<img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">*@
                            <div class="desc">
                                <button id="move" class="btn btn-primary" onclick="MoveToOutfit('@item.Id')">Add to Outfit</button>
                            </div>

                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</center>


<form action="" method="post" id="postTo">
    @Html.HiddenFor(model => model.Outfit.Id)
    @Html.HiddenFor(model => model.User.Id)

    <div id="itemType"></div>
</form>


<script type="text/javascript">





    function MoveToOutfit(id) {
        var outfitId = "";
        @{ int? x = Model.Outfit != null ? Model.Outfit.Id : null;}
            outfitId = @x;
        var clothingType = "shirt";
        $.ajax({
            url: "http://localhost:6001/Home/UpdateOutfit",
            type: "POST",
            dataType: 'json',
            data: {'outfitId' : outfitId, 'Id': id, 'clothingType': clothingType },
            success: function (){
                location.reload();
        }
        });



    }



    function RenderPage(item) {
        var path = "Home" + item;

        $('#postTo').attr("action", path);
        $('#postTo').submit();

    }
    function WearOutfit() {
        var path = "~/Outfits/Create";
        $('#postTo').attr("action", path)
    }


</script>