@model ClosetInventory.Models.TotalViewModel

@{
    ViewBag.Title = "UserHomePage";
}
<center>
    <h1 class="closet">Your Closet</h1>
   
    @Html.Partial("_PartialButtonsList", Model)
</center>
<hr />
<div class="row">
    <div class="col-sm-6">
        @if (Model.Outfit != null)
        {
            <h2>Today's Outfit Suggestion</h2>
            <h4>Dressiness Setting: @Model.Dressiness</h4>
            <a href="ChoicePage"><h5>To Change This Click Here</h5></a>


            <div class="form-group">
                <input type="submit" value="Wear Outfit" class="btn btn-default" />
            </div>
            <br />
        @Html.Partial("_PartialUserHomePage", Model)
        }
        else
        {
            <a href="ChoicePage"><h5>Click Here to Get Today's Outfit</h5></a>
        }
    </div>

    <div class="col-sm-6">
        <h1 style="font-size: 10vh; opacity: .7; text-align: center; color: rgb(0, 180, 180)">&#8689;</h1>
        <div class="row">
            <div class="col-sm-4">
                <h1 style="font-size: 12vh; opacity: .7; float: right; color: rgb(0, 180, 180)">&#10100;</h1>
            </div>
            <div class="col-sm-6">
                <h2 style="text-align: center">Check Out Your <br />Virtual Closet Here </h2>
            </div>
            <div class="col-sm-2">
                <h1 style="font-size: 12vh; opacity: .7; float:left; color: rgb(0, 180, 180)">&#10101;</h1>
            </div>
</div>
        </div>
    </div>
        <form action="" method="post" id="postTo">


            @Html.HiddenFor(model => model.Outfit.Id)
            @Html.HiddenFor(model => model.Outfit.UserId)

        </form>




        <script type="text/javascript">

            function RenderPage(item) {
                var path = "Home" + item;
                $('#postTo').attr("action", path);
                $('#postTo').submit();

            }
            function WearOutfit() {
                var path = "~/Outfits/Create";
                $('#postTo').attr("action", path)
            }

        </script>

