@model IEnumerable<ClosetInventory.Models.Skirt>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isLong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHighWaist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LargeFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFavorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DressinessRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WarmthRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTightFit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPattern)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isLong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHighWaist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LargeFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFavorite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DressinessRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WarmthRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ColorType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTightFit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasPattern)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
