<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body >
    @*<div class="navbars">
        
            <div class="navbar navbar-fixed-top">
                <div class="secondary-nav ">
                    <div class="container">

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Shop", "SearchAmazon", "Home")</li>
                                <li>@Html.ActionLink("See Outfit History", "Index", "Outfits")</li>

                            </ul>
                        </div>
                    </div>
                </div>
        </div>*@
    
        <div class="top-nav">
            <div class="navbar navbar-fixed-top" style="width: 100%;">
                <div class="container" style="height: 100%; width: 100%;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        
                        <a class="navbar-brand" href="/"><img src="~/Content/Imagess/Logomakr_6y8xrv.png" style="height: 50px"/></a>
                        
                    </div>
                    <div class="navbar-collapse collapse">


                        <ul class="nav navbar-nav">
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Add Item", "Upload", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Your Closet", "UserHomePage", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Outfit", "ChoicePage", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Shop", "SearchAmazon", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("See Outfit History", "Index", "Outfits")</li>
                            <li class="top-border">&#124;</li>
                        </ul>
                        @Html.Partial("_LoginPartial")


 
                    </div>
                </div>
            </div>
            
        </div>

    
    
        <div class="body-content">
            @RenderBody()

            <hr />

        </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script type="text/javascript">*@

    @*function RenderPage(item) {
        var path = "~/Home/Home" + item;

        $('#action').attr("action", path);
        $('#action').submit();
    }
    function WearOutfit() {
        var path = "~/Outfits/Create"
        $('#action').attr("action", path)
    }
    </script>*@
</body>
</html>
