<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body >
    <div class="navbars">
        
            <div class="navbar navbar-fixed-top">
                <div class="secondary-nav ">
                    <div class="container">

                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Shop", "Shop", "Home")</li>
                                <li>@Html.ActionLink("See Outfit History", "Index", "Outfits")</li>

                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <div class="top-nav">
            <div class="navbar navbar-fixed-top">
                <div class="container" style="height: 100%;">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Closet Guru", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Add Item", "Upload", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li>@Html.ActionLink("Your Closet", "UserHomePage", "Home")</li>
                            <li class="top-border">&#124;</li>
                            <li><a class="more">More</a></li>
                            <li class="top-border">&#124;</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
        <div class="container body-content">
            @RenderBody()

            <hr />

        </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script type="text/javascript">*@

    @*function RenderPage(item) {
        var path = "~/Home/Home" + item;

        $('#action').attr("action", path);
        $('#action').submit();
    }
    function WearOutfit() {
        var path = "~/Outfits/Create"
        $('#action').attr("action", path)
    }
    </script>*@
</body>
</html>
