
@Scripts.Render("~/bundles/jquery")

<center>


   
    <script src="/Scripts/jquery-1.10.2.js"></script>
    <div class="outfitImages" >
        
       


                @*<div class="form-group">
                    @Html.HiddenFor(Model.Outfit.Cover.LargeFile)
                </div>*@
            


        @if (Model.Outfit != null)
        {
        <div class="outfitCover">
            @if (Model.Outfit.Cover != null)
            {
                <img id="outfit" src="@Model.Outfit.Cover.LargeFile" />
            }
        </div>
        <div id="outfitDress">
            @if (Model.Outfit.Dress != null && Model.Outfit.Shirt == null && Model.Outfit.Pants == null)
            {
                <img id="outfit" src="@Model.Outfit.Dress.LargeFile" />
            }
        </div>
        <div id="outfitShirt">
            @if (Model.Outfit.Shirt != null)
            {
                <img id="outfit" src="@Model.Outfit.Shirt.LargeFile" />
            }
        </div>
        <div id="outfitPants">
            @if (Model.Outfit.Pants != null)
            {
                <img id="outfit" src="@Model.Outfit.Pants.LargeFile" />
            }
        </div>
        <div id="outfitShoe">
            @if (Model.Outfit.Shoe != null)
            {
                <img class="outfit" id="shoes" src="@Model.Outfit.Shoe.LargeFile"/>
            }
        </div>

        }
    </div>
        
</center>





