@model ClosetInventory.Models.Outfit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Outfit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cover.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cover.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dress.SmallFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dress.SmallFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pants.SmallFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pants.SmallFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shirt.SleeveLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shirt.SleeveLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shoe.SmallFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoe.SmallFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skirt.SmallFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skirt.SmallFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WasWorn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WasWorn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isLiked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isLiked)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
