@model IEnumerable<ClosetInventory.Models.Outfit>

@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/jquery-1.10.2.js"></script>





<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                    <div id="outfitCover">
                        @if (item.Cover != null)
                {
                            <img id="cover" src="@item.Cover.LargeFile" />
                        }
                    </div>
                </td>
            <td>
                    <div id="outfitShirt">
                        @if (item.Shirt != null)
                {
                            <img id="shirt" src="@item.Shirt.LargeFile" />
                        }
                    </div>
                </td>
            <td>
                    <div id="outfitPants">
                        @if (item.Pants != null)
                {
                            <img id="pants" src="@item.Pants.LargeFile" />
                        }
                    </div>
                </td>
            <td>
                    <div id="outfitShoe">
                        @if (item.Shoe != null)
                {
                            <img id="shoes" src="@item.Shoe.LargeFile" />
                        }
                    </div>
                </td>
            <td>
                    <div id="outfitDress">
                        @if (item.Dress != null && item.Shirt == null && item.Pants == null)
                {
                            <img id="shoes" src="@item.Shoe.LargeFile" />
                        }
                    </div>
                
            </td>
            <td>
               Date Worn: 
                @Html.DisplayFor(modelitem => item.Date)
            </td>
            </tr>
            }
    </table>
