@model IEnumerable<ClosetInventory.Models.Outfit>

@{
    ViewBag.Title = "Index";
}
<script src="/Scripts/jquery-1.10.2.js"></script>





<table>
    @foreach (var item in Model)
    {
        <tr style="border-bottom: dotted; border-color: rgb(220,220,220)">
            <td>
                Date Worn:
                <br />
                <h4>
                    @item.Date.ToShortDateString()
                </h4>
            </td>
            <td>
                    <div id="outfitCover">
                        @if (item.Cover != null)
                {
                            <a href="~/Covers/Details/@item.Cover.Id">
                                <img id="cover" src="@item.Cover.LargeFile" style="max-width: 200px" />
                            </a>
                        }
                    </div>
                </td>
            <td>
                    <div id="outfitShirt">
                        @if (item.Shirt != null)
                {
                            <a href="~/Shirts/Details/@item.Shirt.Id">
                                <img id="shirt" src="@item.Shirt.LargeFile" style="max-width: 200px"/>
                            </a>
                        }
                </div>
                </td>
            <td>
                    <div id="outfitPants">
                        @if (item.Pants != null)
                        {
                            <a href="~/Pants/Details/@item.Pants.Id">
                                <img id="pants" src="@item.Pants.LargeFile" style="max-width: 200px"/>
                            </a>
                        }
                </div>
                </td>
            <td>
                <div id="outfitDress">
                    @if (item.Dress != null && item.Shirt == null && item.Pants == null)
                {

                        <a href="~/Dresses/Details/@item.Dress.Id">
                            <img id="shoes" src="@item.Dress.LargeFile" style="max-width: 200px"/>
                        </a>
                    }
                </div>

            </td>


            <td>
                    <div id="outfitShoe">
                        @if (item.Shoe != null)
                        {
                            <a href="~/Shoes/Details/@item.Shoe.Id">
                                <img id="shoes" src="@item.Shoe.LargeFile" style="max-width: 200px"/>
                            </a>
                        }
                </div>
                </td>
           
            </tr>
            
            }
    </table>
